<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heroínas e heróis da Marvel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <div class="row">
        <div class="column">
        <a href="./">Início</a>
      </div>
        <div class="column">
        <a href="./sobre.html">?</a>
      </div>
      </div>
    </header>


    <div class="p-5 mb-4 bg-light rounded">
      <div class="container-fluid">
        <h1 class="fw-bold">Buscador de heroínas e heróis da Marvel</h1>
        <p class="col-md-8">Se você precisa de ajuda, seja contra uma invasão alienígena ou até proteção de uma ameaça
          interdimensional,
          desde que seja no universo da Marvel, a ajuda chegou! </p>
        <div class="xl" id="dsearch">
          <form action="" method="get">
            <label for="search">Insira o nome da heroína ou do herói:</label>
            <input required type="search" id="search" placeholder="Exemplo: Hulk">
            <button class="btn btn-primary" type="submit" id="btn-submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="dheroes">

  </div>


  <script src="app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script> <br />
  <br />
  <div class="container-fluid">
    <div class="row">
      <footer class="text-muted">
        <small>Data provided by Marvel. © 2022 Marvel</small>
      </footer>
    </div>
  </div>
</body>

</html>